<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>Gault&Millau</title>
    <meta name="description" content="description">
    <meta name="keywords" content="meta tags">

    <script async type="application/javascript" src={{scriptSource}}></script>

    {{#stylesSource}}
      <link rel="stylesheet" href={{stylesSource}}>
    {{/stylesSource}}

    <script type="application/javascript">
      window.__initialState__ = {{&initialState}};
    </script>
  </head>

  <body>
    <div id="app-root">
      {{&applicationMarkup}}
    </div>
  </body>
</html>
